<%-include("templates/cabecera", {tituloWeb: '404'}) %>
<%- include('templates/nav',{nav:'el nav de 404'}); %>
<body>
    <h2><%= titulo %></h2>
    <h2><%= descripcion %></h2>
    <%- include('templates/section'); %>
    <%- include('templates/footer',{titulofooter:'el footer del 404'}); %>