<!-----incluyendo la cabecera pero dandole un titulo dinamico------>
<%-include("templates/cabecera", {tituloWeb: 'servicios'}) %>
<!-----incluyendo el nav pero dandole un link dinamico------>
<%- include('templates/nav',{nav:'Inicio'}); %>
<body>
 
 <!-----incluyendo el titulo de servicios del express js------>
   <h2><%= tituloServicios %></h2>

   <!-----incluyendo el section completo------>
   <%- include('templates/section'); %>


      <!-----incluyendo el footer dinamico------>
   <%- include('templates/footer',{titulofooter:'el footer de servicios'}); %>
